*{
    margin: 0px;
}
.logo{
    margin-top: 2%;
    margin-left: 2.5%;
    width: 30%;
}
h1{
    color: brown;
    /* text-align: left; */
    margin-left: 1%;
    font-size: 1.5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin-top: .5%;  */
    padding-top: .5%;
    /* margin-bottom: 0%; */
}
.JP{
    position: relative;
    top: -30px;
    left:20px;
    width: 50%;
}
h3{
    color: aliceblue;
    margin-left: 67.5%;
    margin-top: 0%;
}
.divv{
    display:flex ;
    justify-content: space-between;
    height: 200px;
}
.logos{
    padding: 40px;
    padding-top: 150px;
}
.info,.phone,.home{
    width: 30px;
    margin: 0 10px;
}